@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Sofadi+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}
body {
  background: #f1e7e7;
  min-height: 100vh;
}
:root {
  --header-color: #1A2A80;
  --home-primary-color: #7A85C1;
  --home-secondary-color: #7A85C1;
  --footer-bg-color: #1A2A80;
  --submit-btn-color: #3B38A0;
}
main {
  flex: 1;
}

/* Footer styling */
footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Optional styling for the footer */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
